.burger { 
	@include burger;
	display: none;

	@include small-tablet {
		display: block;
		position: absolute;
		z-index: 403;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		transition: color .4s ease-in-out;

		&:hover{
			color: $color-blue;
		}

		&_active{
			color: $color-white;

			&:hover{
				color: $main-color;
			}
		}
	}
}
