section#faq.acc(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="600")
  .container
    h2.section__title
      span.section__title-span Чем отличается от предыдущего
      |	FAQ
    ul.acc__list.js-acc__list
      li.acc__item.js-acc__item
        button.acc__title.js-acc__title.active(type="button") 1. Корпус и габариты
        .acc__description.js-acc-description.active 
          p.acc__text Новый iPhone 14 внешне практически не отличается от прошлогодней модели и имеет корпус с размерами 146,7 х 71,5 х 7,8 мм, при весе – 172 г.
      li.acc__item.js-acc__item
        button.acc__title.js-acc__title(type="button") 2. Процессор и железо
        .acc__description.js-acc-description
          p.acc__text Как и ожидалось, новый iPhone 14 получил прошлогодний процессор A15 Bionic. 6-ядерный чип имеет 4 энергоэффективных и 2 производительных ядра. На борту 5-ядер GPU и 16-ядерная система Neural Engine.
      li.acc__item.js-acc__item
        button.acc__title.js-acc__title(type="button") 3. Камеры
        .acc__description.js-acc-description
          p.acc__text iPhone 14 оснащается сдвоенным модулем основных камер. Это 12-мегапиксельные сверхширик ƒ/2.4 и ширик ƒ/1.5. Присутствует система Sensor-shift для оптической стабилизации изображения.
