footer.footer
  .container
    .footer__wrapper
      img(src="img/header/logo.svg", alt="Логотип proApple", width="116")
      .footer__developer
        p.footer__text Вёрстка
        a(href="https://t.me/AlexandrZagumennov", target="_blank").footer__link Александр Загумённов
