footer.footer
  .container
    .footer__wrapper
      img(src="img/header/logo.svg", alt="Логотип proApple", width="116")
      .footer__developer
        p.footer__text Вёрстка
        a.footer__link(href="https://vk.com/id31829061") Александр Загумённов
