header.header
  .container
    .header__wrapper
      a(href="/")
        img(src="img/header/logo.svg", alt="Логотип proApple", width="116")

      nav.navigation.js-navigation
        span.navigation__line
        ul.navigation__list
          li.navigation__item
            a.navigation__link.js-navigation__link(href="#products") Продукты
          li.navigation__item
            a.navigation__link.js-navigation__link(href="#characteristics") Характеристика
          li.navigation__item
            a.navigation__link.js-navigation__link(href="#faq") Частые вопросы

      button.burger.js-burger(aria-label="Открыть меню", aria-expanded="false")
        span.burger__line