.modal.js-modal-1
	.modal__main
		.modal__container
			h3.callback__title Узнай все о новом iPhone 14
			form.form(action="#")
				.callback__wrapper
					label.form__label.callback__label
						input.form__input.callback__input(type="text", name="Имя", placeholder="Ваше имя")
					label.form__label.callback__label

						input.form__input.callback__input(type="tel", name="Телефон", placeholder="Телефон")
					button.form__btn.callback__btn Заказать консультацию
		button.modal__close
			| &#10006;
