$main-font-family: 'SF UI Display', sans-serif;
$main-font-size: 14px;
$main-line-height: 100%;
$main-bg-color: #f8f7f7;
$main-color: #000000;

$content-width: 1170px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset) * 2);